@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray rgb(30 41 59);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(30 41 59);
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid rgb(30 41 59);
}

#user-tab {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s;
}

#user-button:hover #user-tab {
  visibility: visible;
  opacity: 1;
}
